<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            {{todo.name}}, due date is {{todo.due_date}}

            <br>
            <br>
            {{todo.desc}}

            <br>
            <br>
            <a href="/update/{{todo.id}}/">update</a>
            <a href="/delete/{{todo.id}}/"> delete</a>
        </div>
    </body>
</html>