<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sdfghj</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" value='{{todo.name}}' >
            <p>{{todo.due_date}}</p>
            <input type="date" name="due_date" value='{{todo.due_date}}' >
            <textarea name="desc" id="" cols="30" rows="10">{{todo.desc}}</textarea>

            <button type="submit">submit</button>
        </form>
    </body>
</html>